@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #861043;
}

@theme inline {
  /* Font styles */
  --font-poppins: var(--font-poppins-sans);
  --font-roboto-mono: var(--font-roboto-mono);
  --font-dancing: var(--font-dancing);

  /* Color pallete */
  --color-primary: #861043;
  --color-secondary: #4d0218;
  --color-terciary: #a50036;
  --color-white: #f1f1f1;
  /* container styles */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}
